In [1]:
%load_ext sql
%sql sqlite:///ebay.db

'Connected: @ebay.db'

In [2]:
%sql PRAGMA table_info(Items);

 * sqlite:///ebay.db
Done.

[(0, 'iid', 'INTEGER', 0, None, 1),
 (1, 'Name', 'CHAR(255)', 1, None, 0),
 (2, 'Buy_Price', 'DECIMAL(20,20)', 0, None, 0),
 (3, 'First_Bid', 'DECIMAL(20, 20)', 1, None, 0),
 (4, 'Description', 'TEXT', 1, None, 0)]

In [4]:
%sql PRAGMA table_info(Users);

 * sqlite:///ebay.db
Done.

[(0, 'id', 'CHAR(255)', 0, None, 1),
 (1, 'Rating', 'INTEGER', 1, None, 0),
 (2, 'Location', 'CHAR(255)', 0, None, 0),
 (3, 'Country', 'CHAR(70)', 0, None, 0)]

In [9]:
%sql PRAGMA table_info(Bids);

 * sqlite:///ebay.db
Done.

[(0, 'id', 'CHAR(255)', 1, None, 1),
 (1, 'iid', 'INTEGER', 1, None, 2),
 (2, 'Bidtime', 'DATETIME', 1, None, 3),
 (3, 'Amount', 'DECIMAL(20,20)', 1, None, 0)]

In [8]:
%sql PRAGMA table_info(Auctions);

 * sqlite:///ebay.db
Done.

[(0, 'iid', 'INTEGER', 1, None, 2),
 (1, 'id', 'CHAR(255)', 1, None, 1),
 (2, 'Current_Price', 'DECIMAL(20,20)', 1, None, 0),
 (3, 'Num_Bids', 'INTEGER', 1, None, 0),
 (4, 'StartDate', 'DATETIME', 1, None, 0),
 (5, 'EndDate', 'DATETIME', 1, None, 0)]

In [6]:
%sql PRAGMA table_info(Categories);

 * sqlite:///ebay.db
Done.

[(0, 'iid', 'INTEGER', 1, None, 1), (1, 'Category', 'CHAR(50)', 1, None, 2)]

## Test 1

In [27]:
%%sql
SELECT COUNT(*)
FROM Users;

 * sqlite:///ebay.db
Done.

[(13422,)]

## Test 2

In [26]:
%%sql
SELECT COUNT(*)
FROM Users
WHERE Users.location = 'New York';

 * sqlite:///ebay.db
Done.

[(80,)]

## Test 3

In [15]:
%%sql
WITH catCount AS (
    SELECT C.iid, COUNT(*) AS count
    FROM Categories C
    GROUP BY C.iid
)
SELECT COUNT(C.iid)
FROM catCount C
WHERE C.count == 4;

 * sqlite:///ebay.db
Done.

[(8365,)]

## Test 4

In [16]:
%%sql
SELECT A.iid
FROM Auctions A
ORDER BY A.Current_Price DESC
LIMIT 1;

 * sqlite:///ebay.db
Done.

[(1046871451,)]

## Test 5

In [25]:
%%sql
WITH sellers AS(
    SELECT COUNT(*)
    FROM Users S, Auctions A
    WHERE S.id = A.id AND S.rating > 1000
    GROUP BY S.id
)
SELECT COUNT(*)
FROM sellers;

 * sqlite:///ebay.db
Done.

[(3130,)]

## Test 6

In [22]:
%%sql
WITH S AS(
    SELECT DISTINCT(s.id)
    FROM Users s, Auctions a
    WHERE s.id = a.id
), B AS(
    SELECT DISTINCT(s.id)
    FROM Users s, Bids b
    WHERE s.id = b.id
)
SELECT COUNT(*)
FROM S, B
WHERE S.id = B.id;

 * sqlite:///ebay.db
Done.

[(6717,)]

## Test 7

In [24]:
%%sql
WITH Cat AS (
    SELECT DISTINCT(C.category)
    FROM Bids B, Categories C, Items I
    WHERE C.iid = I.iid AND I.iid = B.iid AND B.amount > 100
)
SELECT COUNT(*)
FROM Cat;

 * sqlite:///ebay.db
Done.

[(150,)]